input[type=text],
input[type=tel],
input[type=email],
input[type=number],
input[type=range],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #37B5FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    height: 200px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-20 {
    float: left;
    width: 20%;
    margin: 6px;
}

@media screen and (max-width: 600px) {

    .col-20 {
        width: 100%;
        margin-top: 0;
    }
}