body {    
    margin: 0;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh !important;
}

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: 100%;
    opacity: 85%;
}

.container .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #37B5FF;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 160px;
    height: 60px;
    font-size: larger;
}

.container .btn:hover {
    background-color: #3FA7E3;
    border-radius: 20px;
}

.container h2 {
    position: absolute;
    top: 40%;
    margin-left: 1%;
    text-align: center;
    color: #191942;
    font-size: 55px !important;
    text-shadow: 2px #FFFFFF;
}


@media only screen and (max-width: 600px) {
    .container h2 {
        position: absolute;
        top: 40%;
        margin-left: 1%;
        text-align: center;
        color: #191942;
        font-size: 30px !important;
        text-shadow: 2px #FFFFFF;
    }
}

@media only screen and (max-width: 1024px) {
    .container h2 {
        position: absolute;
        top: 40%;
        margin-left: 1%;
        text-align: center;
        color: #191942;
        font-size: 40px !important;
        text-shadow: 2px #FFFFFF;
    }
}
